DataFrame Column and Row Selection (loc and iloc)
loc is label-based, meaning that you have to specify rows and columns based on their labels.
iloc is integer position-based, meaning that you have to specify rows and columns based on their integer positions.

In [32]:
import pandas as pd

data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)
print(df)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [34]:
# Select rows 0 and 1 and columns 'A' and 'B'
df_loc = df.loc[0:1, ['A', 'B']]
print(df_loc)

   A  B
0  1  5
1  2  6

In [35]:
# Select rows 0 and 1 and columns 0 and 1
df_iloc = df.iloc[0:2, 0:2]
print(df_iloc)

   A  B
0  1  5
1  2  6

In [36]:
# Select rows where column 'A' is greater than 2
df_cond = df[df['A'] > 2]
print(df_cond)

   A  B   C
2  3  7  11
3  4  8  12

In [48]:
# Delete column 'C'
df.drop('C', axis=1, inplace=True)
print(df)

    A  B
0  21  5
1  22  6
2  23  7
3  24  8

In [43]:
# Update column 'A' with new values
df['A'] = df['A'] + 10
print(df['A'])

0    21
1    22
2    23
3    24
Name: A, dtype: int64

In [49]:
# Set column 'A' as index
df.set_index('A', inplace=True)
print(df)

    B
A
21  5
22  6
23  7
24  8

In [50]:
# Reset index to default integer index
df.reset_index(inplace=True)
print(df)

    A  B
0  21  5
1  22  6
2  23  7
3  24  8

In [51]:
# Add columns 'A' and 'B' and store in a new column 'E'
df['E'] = df['A'] + df['B']
print(df['E'])

0    26
1    28
2    30
3    32
Name: E, dtype: int64

In [52]:
# Subtract column 'B' from 'A' and store in a new column 'F'
df['F'] = df['A'] - df['B']
print(df['F'])

0    16
1    16
2    16
3    16
Name: F, dtype: int64

In [53]:
# Multiply columns 'A' and 'B' and store in a new column 'G'
df['G'] = df['A'] * df['B']
print(df['G'])

0    105
1    132
2    161
3    192
Name: G, dtype: int64

In [54]:
# Logical OR between two boolean columns
df['H'] = (df['A'] > 2) | (df['B'] < 7)
print(df['H'])

0    True
1    True
2    True
3    True
Name: H, dtype: bool

In [55]:
import pandas as pd

# Create DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Row and column selection
df_loc = df.loc[0:1, ['A', 'B']]
df_iloc = df.iloc[0:2, 0:2]

# Conditional selection
df_cond = df[df['A'] > 2]

# Column addition
df['D'] = [13, 14, 15, 16]

# Column deletion
df.drop('D', axis=1, inplace=True)

# Column update
df['A'] = df['A'] + 10

# Index operations
df.set_index('A', inplace=True)
df.reset_index(inplace=True)

# Operations between columns
df['E'] = df['A'] + df['B']
df['F'] = df['A'] - df['B']
df['G'] = df['A'] * df['B']
df['H'] = (df['A'] > 2) | (df['B'] < 7)

print(df)

    A  B   C   E  F    G     H
0  11  5   9  16  6   55  True
1  12  6  10  18  6   72  True
2  13  7  11  20  6   91  True
3  14  8  12  22  6  112  True