In [1]:
# DataFrames
# Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
# Series is like a column, a DataFrame is the whole table.

In [2]:
#Example
#Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [3]:
# Example
# Create a DataFrame:
import pandas as pd
data = {"calories": [420, 380, 390],"duration": [50, 40, 45]}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
#Locate Row
#Pandas use the loc attribute to return one or more specified row(s)

In [8]:
#Example

import pandas as pd

data = {"calories": [420, 380, 390],"duration": [50, 40, 45]}

df = pd.DataFrame(data)

print(df.loc[0])
print(df.loc[1])
print(df.loc[[0, 1]])

calories    420
duration     50
Name: 0, dtype: int64
calories    380
duration     40
Name: 1, dtype: int64
   calories  duration
0       420        50
1       380        40

Named Indexes

In [11]:
# Example
import pandas as pd
x={"calories":[420,350,260],"Duration":[50,65,45]}
df=pd.DataFrame(x,index=["Day1","Day2","Day3"])
print(df)

      calories  Duration
Day1       420        50
Day2       350        65
Day3       260        45

In [13]:
# Locate Named Indexes
import pandas as pd
x={"calories":[420,350,260],"Duration":[50,65,45]}
df=pd.DataFrame(x,index=["Day1","Day2","Day3"])
print(df.loc["Day3"])

calories    260
Duration     45
Name: Day3, dtype: int64

In [17]:
#Load Files Into a DataFrame
#Example
#Load a comma separated file (CSV file) into a DataFrame:

import pandas as pd

df = pd.read_csv('C:/Users/prata/OneDrive/Desktop/AG.csv')

print(df)

     X   Y
0    1  10
1    2  12
2    3  35
3    4  24
4    5  26
5    6  21
6    7  18
7    8  15
8    9  41
9   10  47
10  11  45
11  12  65
12  13  35
13  14  25
14  15  11

In [18]:
#Pandas Read CSV
#Read CSV Files
#A simple way to store big data sets is to use CSV files (comma separated files).
#CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [1]:
# Example
#Load the CSV into a DataFrame:
import pandas as pd
df = pd.read_csv('C:/Users/prata/OneDrive/Desktop/AA.csv')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [20]:
# max_rows
# The number of rows returned is defined in Pandas option settings.
# maximum rows with the pd.options.display.max_rows statement.

In [25]:
#Example
#Check the number of maximum returned rows:
import pandas as pd
print(pd.options.display.max_rows)

60

In [2]:
# Example
# Increase the maximum number of rows to display the entire DataFrame:
import pandas as pd

pd.options.display.max_rows = 100

df = pd.read_csv('C:/Users/prata/OneDrive/Desktop/AA.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
# Example
#Load the Xlsx into a DataFrame:

import pandas as pd

df = pd.read_excel('C:/Users/prata/OneDrive/Desktop/AG.xlsx')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
# Data frame using matrix
import pandas as pd
matrix_data=[[1,"Rahul",22],[2,"Akshay",26],[3,"Akash",24]]
col_names=["Id","Names","Age"]
df_matrix=pd.DataFrame(matrix_data,columns=col_names)
print(df_matrix)

   Id   Names  Age
0   1   Rahul   22
1   2  Akshay   26
2   3   Akash   24

In [7]:
# Data frame using dictionary
import pandas as pd
dict_data={'Id':[1,2,3],'Names':['Rahul','Akshay','Akash'],'Age':[22,26,24]}
df_dict=pd.DataFrame(dict_data)
print(df_dict)

   Id   Names  Age
0   1   Rahul   22
1   2  Akshay   26
2   3   Akash   24

Data Science - Python DataFrame
Create a DataFrame with Pandas
A data frame is a structured representation of data.
Let's define a data frame with 3 columns and 5 rows with fictional numbers.

In [2]:
import pandas as pd

d = {'col1': [4,6,9,16,19], 'col2': [15,19,24,27,29], 'col3': [34,29,20,39,20]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     4    15    34
1     6    19    29
2     9    24    20
3    16    27    39
4    19    29    20

In [3]:
import pandas as pd

# Creating a matrix as a list of lists
matrix = [
    [3,6,7],
    [9,13,15],
    [21,25,27]
]

# Creating a DataFrame from the matrix
df = pd.DataFrame(matrix, columns=['A', 'B', 'C'])
print(df)

    A   B   C
0   3   6   7
1   9  13  15
2  21  25  27

In [4]:
count_column = df.shape[1]
print(count_column)

3

In [5]:
count_row = df.shape[0]
print(count_row)

3

In [6]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

# Creating a matrix as a list of lists
df = pd.DataFrame({
   'A': [3,6,7],
   'B': [9,13,15],
   'C': [21,25,27]
})

# Calculate pairwise Euclidean distances between rows
row_distances = pdist(df.values, metric='euclidean')

# Convert to a square matrix form
row_distance_matrix = squareform(row_distances)
print(row_distance_matrix)

[[0.         6.40312424 9.38083152]
 [6.40312424 0.         3.        ]
 [9.38083152 3.         0.        ]]

In [7]:
# Calculate pairwise cosine distances between rows
row_cosine_distances = pdist(df.values, metric='cosine')

# Convert to a square matrix form
row_cosine_distance_matrix = squareform(row_cosine_distances)
print(row_cosine_distance_matrix)

[[0.         0.00583692 0.00930363]
 [0.00583692 0.         0.00044815]
 [0.00930363 0.00044815 0.        ]]